<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="alert alert-info">
      가입해주셔서 감사합니다. 다음의 링크를 클릭하시면 이메일이 자동으로 인증됩니다. <a href="<%= @activation_url  %>"><%= @activation_url  %></a>
    </div>
  </body>
</html>
