<div class="page-header">
  <h1>ArTinkle</h1>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">4주차 개발완료</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>User Model Validation ( description at Evernote )</li>
      <li>User Basic CRUD ( Sign Up )</li>
      <li>User Sign Up Validation</li>
      <li>Email Validation</li>
      <li>Email Activation with activation_token ( using smtp )</li>
    </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">5주차 개발예정</h3>
  </div>
  <div class="panel-body">
    <ul>
      <li>Session Management</li>
      <li>Sign In / Sign Out</li>
      <li>Permission</li>
    </ul>
  </div>
</div>
