<div class="page-header">
  <h1>ArTinkle</h1>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">의뢰중인 작업들</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% @requests.each do |request| %>
        <li><%= link_to generate_request_title(request.id), show_request_url(token: request.token) %></li>
      <% end %>
    </ul>
  </div>
</div>
